.subscription-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Center horizontally
}

mat-card {
  justify-content: center;
  align-content: center;
}

.card-container {
  width: 400px;
  /* Constant width */
  padding: 20px;
  box-sizing: border-box;
  text-align: center; // Center content inside
  justify-content: center;
}

.form-content {
  display: flex;
  flex-direction: column; // Column layout
  align-items: stretch; // Stretch form fields
}

.expiry-cvv-row {
  display: flex;
  justify-content: space-between;
}

.expiry-cvv-row mat-form-field {
  width: 48%; // Adjust width as needed
}

.image-text-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}


@media (max-width: 768px) {
  .subscription-container {
    flex-direction: column;
    align-items: center; // Center mobile view
  }

  .card-container {
    width: 90%;
  }

  .square-image {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

// New styles for header and image card
.centered-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-height: 50px;
  margin-bottom: 10px;
}

.company-name {
  margin: 0;
}

.image-text {
  text-align: center;
  margin-top: 10px;
}

mat-card-header {
  text-align: center;
}