<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <mat-card style="width: 300px; padding: 20px;">
    <mat-card-content style="display: flex; flex-direction: column; gap: 10px;">
      <mat-card-title style="text-align: center;">Simple Ad Generator</mat-card-title>
      <button mat-flat-button color="primary" (click)="login()"><mat-icon fontIcon="login"></mat-icon>Login</button>
      <button mat-flat-button color="primary" (click)="register()"><mat-icon
          fontIcon="how_to_reg"></mat-icon>Register</button>
    </mat-card-content>
  </mat-card>
</div>